.breadcrumbs {
  font-family: Poppins;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 15.9994px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs li {
  display: inline;
  padding: 8px;
  position: relative;
}

.breadcrumbs li:last-child {
  @apply dark:text-white text-black;
}

/* .breadcrumbs li:not(:last-child)::after {
  content: '/';
  position: absolute;
  right: -4px;
  @apply dark:text-darkMode-subText text-ash;
} */

.articleEditHeaderTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 23.3952px;
  line-height: 120%;

  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #000000;
}

.articleEditHeaderTags {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #000000;
}

.articleHeaderOverscore {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.005em;

  color: #000000;
  margin-bottom: 6px;

  opacity: 0.8;
  white-space: nowrap;
}

.articleHeaderOverscoreStats {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #00a141;
  white-space: nowrap;
}
