@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-darkMode-black;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url(/fonts/Helvetica/HelveticaRegular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.datepicker-control-section {
  max-width: 246px;
  margin: 30px auto;
  padding-top: 50px;
}

.e-date-wrapper,
.e-date-wrapper:hover {
  border: none !important;
  border-color: transparent !important;
}

.react-datepicker__month-container,
.react-datepicker {
  @apply font-poppins !important;
}

.react-datepicker {
  border: 1px solid #dcd8e7 !important;
}

.react-datepicker__header {
  background-color: #f7f9fa !important;
  border-bottom: 1px solid #dcd8e7 !important;
}

.react-datepicker__day--disabled,
.react-datepicker__navigation-icon::before {
  color: #c7c7cd !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  @apply bg-primary !important;
}

.foot-link {
  background: -webkit-linear-gradient(315deg, #40edc3 0%, #7ffba9 50%, #d3f89a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  width: 100%;
  transition: all 0.4s;
  @apply dark:bg-darkMode-bg bg-white !important;
}

.page-section {
  padding-top: 100.98px;
  padding-bottom: 50px;
  min-height: calc(100vh - 108.02px - 95.99px);
}

.section-title {
  font-weight: 800;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.045em;
  text-transform: capitalize;
  font-family: 'Poppins';
}

.section-caption {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1px;

  color: #4d4d4d;
}

.form-group {
  margin-bottom: 25px;
}

.form-group input.btn,
.form-group button.btn {
  padding: 12px 47.5px;
}

.form-group.imp label::after {
  content: '*';
  color: #ff0000;
}

.form-group label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}

.form-group input:not(.btn) {
  font-family: 'Poppins';
  background-color: #ffffff;
  border: 1px solid #dcd8e7;
  border-radius: 3px;
  padding: 11.5px 27.18px;
  height: 45px;
}

.form-group input:not(.btn).thick-border {
  border: 1.6021px solid #000000;
}
.form-group input:not(.btn)::placeholder {
  color: #c7c7c7;
}
.form-group input:not(.btn)::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c7c7c7;
}
.form-group input:not(.btn)::-moz-placeholder {
  /* Firefox 19+ */
  color: #c7c7c7;
}
.form-group input:not(.btn):-ms-input-placeholder {
  /* IE 10+ */
  color: #c7c7c7;
}
.form-group input:not(.btn):-moz-placeholder {
  /* Firefox 18- */
  color: #c7c7c7;
}
.form-group input:not(.btn):focus {
  color: #000000;
  background-color: #ffffff;
  border-color: #dcd8e7;
  outline: 0;
  box-shadow: none;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 56px !important;
}
.input-with-icon .icon {
  position: absolute;
  right: 21px;
  top: 16px;
}

.input-search {
  background: rgba(220, 223, 229, 0.5);
  border: 1px solid #dcd8e7;
  border-radius: 3px;
  padding: 12px 30px;
  height: 43px;
  font-family: 'Poppins';
}

.section-seperator {
  width: 100%;
  height: 2px;
  background-color: #dcdfe5;
  margin: 28.5px 0;
}

.article-generator-container {
}

.article-generator-container .generator-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

.option-container {
  background-color: #fff;
  transition: background-color 100ms;
  border-bottom: 1px solid #dcd8e7;
}

.option-container:first-child {
  border-top: 1px solid #dcd8e7;
}

/* .option-container:not(:last-child) {
  margin-bottom: 6px;
} */

.option-container:hover {
  background-color: #00a141;
}

.option-container:hover .option-select p {
  color: #fff;
}

.option-container:hover .tick-svg path {
  fill: #fff;
}

.option-container:hover .drag-svg {
  color: #fff;
}

.option-container:hover .loader-svg #body {
  opacity: 0.5;
  fill: #fff;
}

.option-container:hover .loader-svg #section {
  fill: #fff;
}

.option-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21.94px;
}

.option-select p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.option-radio {
  opacity: 0;
  position: absolute;
  z-index: -2;
}

.btn {
  outline: none;
  padding: 12.31px 39px;
  cursor: pointer;
  border: 2px solid rgba(0, 161, 65, 1);
  box-shadow: none;
  white-space: nowrap;
  user-select: none !important;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16.7456px;
  line-height: 28px;
  letter-spacing: -0.276302px;
}

.btn-white,
.btn-white:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 0;
  border: 1.10544px solid #000000;
}

.btn-primary--outline,
.btn-primary--outline:hover {
  border-radius: 0;
  color: #00a141;
  background-color: #ffffff;
  border: 1.10544px solid #00a141;
}

.btn-outline,
.btn-outline:hover {
  @apply border dark:border-white border-black py-[11px] px-[34px] text-center;
}

.btn-reset,
.btn-reset:hover {
  border-radius: 0;
  padding: 11px 34px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.0813187px;
}

.btn-danger,
.btn-danger:hover {
  border-radius: 0;
  color: #ff0000;
  background-color: transparent;
  border: none;
}

.btn-gradient {
  border-radius: 0;
  background: linear-gradient(
    90.72deg,
    rgb(64, 237, 195) 0%,
    rgb(127, 251, 169) 49.62%,
    rgb(211, 248, 154) 100%
  );
}

.btn-primary,
.btn-primary:hover {
  border-radius: 0;
  padding: 11px 34px;
  font-family: 'Poppins';
  color: white;

  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.0813187px;
  background-color: #00a141;
}

.btn-deactive,
.btn-deactive:hover {
  border-radius: 0;
  padding: 11px 34px;
  font-family: 'Helvetica';
  color: #000000;

  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.0813187px;
  border-color: #f8fffb;
  background-color: #f8fffb;
}

.btn-dark,
.btn-dark:hover {
  border-radius: 0;
  padding: 11px 34px;
  font-family: 'Poppins';

  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.0813187px;
  border-color: #000000;
  color: #ffffff;
  background-color: #000000;
}

.overlay {
  background: radial-gradient(
      109.57% 177.42% at -4.09% -5.87%,
      rgba(225, 250, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.0223958) 48.52%,
      rgba(240, 248, 255, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(20px);

  transform: matrix(1, 0, 0, 1, 0, 0);
}

.line-clamp-10 {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 10 !important;
}

.custom-checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
}

.custom-checkbox-container
  input:checked
  ~ .custom-checkbox-container
  .checkmark {
  background-color: #52926c;
}

.custom-checkbox-container .checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox-container
  input:checked
  ~ .custom-checkbox-container
  .checkmark::after {
  display: block !important;
}

.custom-checkbox-container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-container {
  background-color: #ffffff;
  border: 1px solid #0d0d0d;
  width: 100%;
  max-width: 818px;
  padding: 96px 179px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .modal-container {
    padding: 51px 15px !important;
  }
  .modal-container .title {
    font-size: 20px !important;
  }
}

.modal-container .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  margin-bottom: 13px;
}

.modal-container .subtitle {
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1px;
}

.pop-in-animation {
  opacity: 0;
  animation: pop-in 100ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.spinning-loader {
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.accountFrameboxNav {
  background-color: transparent;
  display: flex;
}

.accountFrameboxNavItem {
  padding: 6.5px 30px;
  font-weight: 500;
  font-size: 13.0398px;
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.accountFrameboxNavItemActive {
  background-color: #ffffff;
  border: 0.90956px solid #dcd8e7;
  border-bottom: none;
}

.react-calendar {
  min-width: 350px !important;
  width: 350px !important;
  max-width: 100%;
  border-radius: 0;
  line-height: 1.125em;
  @apply dark:bg-black 
    bg-white border 
    border-solid 
    dark:border-darkMode-border 
    border-ash !important;
}

.react-calendar * {
  @apply select-none !important;
}
.react-calendar__navigation button {
  @apply text-primary;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* @apply dark:bg-white bg-[#f7f9fa] !important; */
  @apply dark:bg-black dark:text-white !important;
}
.react-calendar__navigation button[disabled] {
  @apply bg-[#f0f0f0] dark:bg-darkMode-bg !important;
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  @apply text-black dark:text-white !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f7f9fa !important;
  @apply dark:bg-primary dark:text-white !important;
  @apply text-primary;
  border-radius: 0;
}
.react-calendar__tile--now {
  @apply bg-primary text-white !important;
  border-radius: 0;
  font-weight: bold;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 0;
  font-weight: bold;
  @apply bg-primary text-white !important;
}
.react-calendar__tile--hasActive,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  @apply bg-primary text-white !important;
}
.react-calendar__tile--active {
  @apply bg-primary text-white !important;
  border-radius: 0;
  font-weight: bold;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply bg-primary text-white !important;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  @apply text-black bg-[#f0f0f0] dark:bg-darkMode-bg dark:text-white !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f7f9fa !important;
}
.react-calendar__tile--range {
  background-color: #f7f9fa !important;
  @apply text-white !important;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  @apply bg-primary !important;
  color: white;
}
.react-calendar__tile--rangeEnd {
  @apply bg-primary !important;
  color: white;
}

.range input {
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply h-6 w-6 bg-white ring-1 ring-black rounded-full cursor-grab;
}
.range input::-moz-range-thumb {
  -webkit-appearance: none;
  @apply h-6 w-6 bg-white ring-1 ring-black rounded-full cursor-grab;
}
.range input::-moz-range-progress {
  background: #664aff;
}

.generator-container {
  background-color: #fff;
}

.generator-box,
.generator-container:not(.nb) {
  @apply border border-solid border-[#dcd8e7];
}

.generator-box .generator-main-title .main-title::before {
  content: attr(data-heading-t);
  @apply text-primary mr-1;
}

.generator-box-header-box {
  @apply border-b border-b-[#dcd8e7];
}

.generator-container .generator-options-header {
  padding: 18px;
}

.generator-container .content {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  /* color: #4d4d4d; */
}

.generator-container .content h1 {
  @apply my-8 font-semibold text-[32px] leading-[120%] tracking-[0.005em] !important;
}

.generator-container .content p {
  @apply font-normal text-lg my-[18px];
}

.generator-container .headerTitleStyle {
  @apply font-bold text-[13.701px] leading-[120%] text-black opacity-80 mb-[19.16px];
  letter-spacing: 0.005em;
}

.generator-container .headerTitleStyle2 {
  @apply font-bold text-[15.4145px] leading-[120%] capitalize text-black;
  letter-spacing: 0.005em;
}

.generator-container .headerDetailsStyles {
  @apply font-bold text-xs leading-[120%] text-right text-black opacity-80 mb-[19.16px] whitespace-nowrap;
  letter-spacing: 0.005em;
}

.generator-container .headerDetailsValueStyles {
  @apply font-medium text-xs leading-[120%] text-right text-black whitespace-nowrap;
  letter-spacing: 0.005em;
}

.rdw-editor-toolbar {
  @apply dark:bg-darkMode-bg 
  bg-white 
  border-l-0 
  border-r-0 
  border-t-0 
  dark:border-darkMode-border 
  py-5
  px-[45px]
  h-[69px]
  border-ash !important;
}

.rdw-option-wrapper {
  @apply text-darkMode-subText shadow-none !important;
}

.rdw-option-active {
  @apply shadow dark:shadow-white shadow-black !important;
}

.editor-class,
.rdw-editor-main {
  @apply pt-5 px-[46px];
}

.rdw-editor-toolbar * {
  @apply mb-0
  bg-transparent
  border-0 !important;
}
