@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  width: 100%;
  transition: all 0.4s;
}

.page-section {
  padding-top: 106.98px;
  padding-bottom: 99.98px;
  min-height: calc(100vh - 108.02px - 95.99px);
}

.section-title {
  font-weight: 800;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.045em;
  text-transform: capitalize;
  font-family: "Poppins";
}

.section-caption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1px;

  color: #4d4d4d;
}

.form-group {
  margin-bottom: 25px;
}

.form-group input.btn,
.form-group button.btn {
  padding: 12px 47.5px;
}

.form-group.imp label::after {
  content: "*";
  color: #ff0000;
}

.form-group label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}

.form-group input:not(.btn) {
  font-family: "Poppins";
  background: #ffffff;
  border: 1px solid #dcd8e7;
  border-radius: 3px;
  padding: 11.5px 27.18px;
  height: 45px;
}

.form-group input:not(.btn).thick-border {
  border: 1.6021px solid #000000;
}
.form-group input:not(.btn)::placeholder {
  color: #c7c7c7;
}
.form-group input:not(.btn)::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c7c7c7;
}
.form-group input:not(.btn)::-moz-placeholder {
  /* Firefox 19+ */
  color: #c7c7c7;
}
.form-group input:not(.btn):-ms-input-placeholder {
  /* IE 10+ */
  color: #c7c7c7;
}
.form-group input:not(.btn):-moz-placeholder {
  /* Firefox 18- */
  color: #c7c7c7;
}
.form-group input:not(.btn):focus {
  color: #000000;
  background-color: #ffffff;
  border-color: #dcd8e7;
  outline: 0;
  box-shadow: none;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 56px !important;
}
.input-with-icon .icon {
  position: absolute;
  right: 21px;
  top: 16px;
}

.input-search {
  background: rgba(220, 223, 229, 0.5);
  border: 1px solid #dcd8e7;
  border-radius: 3px;
  padding: 12px 30px;
  height: 43px;
  font-family: "Poppins";
}

.section-seperator {
  width: 100%;
  height: 2px;
  background-color: #dcdfe5;
  margin: 28.5px 0;
}

.article-generator-container {
  display: grid;
  grid-template-columns: 22.7% auto 14.9%;
}

.article-generator-container .generator-options {
  background-color: #fff;
  border: 0.856364px solid #dcd8e7;
  padding: 14px 10px;
}

.article-generator-container .generator-options .generator-title {
  font-weight: bold;
  font-size: 13.7px;
  line-height: 28px;
}

.option-container {
  border: 1px solid #dcd8e7;
	background-color: #fff;
	transition: background-color 100ms;
}

.option-container:not(:last-child) {
		margin-bottom: 6px;
	}

  .option-container:hover {
    background-color: #00A141;
  }

  .option-container:hover .option-select p {
    color: #fff;
  }

.option-container:hover .tick-svg path {
  fill: #fff;
}

.option-container:hover .loader-svg #body {
  opacity: 0.5;
  fill: #fff;
}

.option-container:hover .loader-svg #section {
  fill: #fff;
}

.option-select {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 6px 20px;
}

.option-select p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 9.08816px;
  line-height: 15px;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-family: "Poppins";
  line-height: 120%;
  letter-spacing: 0.005em;
  text-align: left;
}

table thead {
  border-style: solid;
  border-color: #dcdfe5;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

table thead th {
  padding: 28.5px 0;
  font-weight: bold;
  font-size: 17.0647px;
}

table tbody tr td {
  padding: 22.39px 0 19.32px;
}

table tbody tr:not(:first-child) td {
  padding-top: 19.32px;
}

table tbody td.main {
  font-weight: normal;
  font-size: 17.0647px;
}

table tbody td.tag {
  font-weight: normal;
  font-size: 10.0571px;
}

table tbody td.days {
  font-weight: normal;
  font-size: 15px;
}

.btn {
  outline: none;
  padding: 12.31px 39px;
  border-radius: 0;
  cursor: pointer;
  border: 2px solid rgba(0, 161, 65, 1);
  box-shadow: none;
  white-space: nowrap;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16.7456px;
  line-height: 28px;
  letter-spacing: -0.276302px;
}

.btn-white,
.btn-white:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1.10544px solid #000000;
}

.btn-reset,
.btn-reset:hover {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.btn-gradient {
  background: linear-gradient(
    90.72deg,
    rgb(64, 237, 195) 0%,
    rgb(127, 251, 169) 49.62%,
    rgb(211, 248, 154) 100%
  );
}

.btn-primary,
.btn-primary:hover {
  padding: 11px 34px;
  font-family: "Poppins";

  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.0813187px;
}

.overlay {
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(225, 250, 255, 0.1) 0%,
    rgba(198, 232, 255, 0.0223958) 77.08%,
    rgba(240, 248, 255, 0) 100%
  );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(39px);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.modal-container {
  background: #ffffff;
  border: 1px solid #0d0d0d;
  width: 100%;
  max-width: 818px;
  padding: 96px 179px;
  text-align: center;
}

.modal-container .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  margin-bottom: 13px;
}

.modal-container .subtitle {
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1px;
}

.pop-in-animation {
  opacity: 0;
  animation: pop-in 100ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.spinning-loader {
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
