@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  width: 100%;
  transition: all 0.4s;
}

.btn {
  outline: none;
  padding: 12.31px 39px;
  border-radius: 0;
  cursor: pointer;
  border: 2px solid var(--primaryColor);
  box-shadow: none;
  white-space: nowrap;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16.7456px;
  line-height: 28px;
  letter-spacing: -0.276302px;
}

.btn-gradient {
  background: linear-gradient(90.72deg, rgb(64, 237, 195) 0%, rgb(127, 251, 169) 49.62%, rgb(211, 248, 154) 100%);
}
